@model cms_backend.DTOs.Admin.CreateCategoryDto

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-between">
    <h1>Create a new Category</h1>
    <p>
        <a class="btn btn-primary" href="/admin/categories">Category List</a>
    </p>
</div>

<hr />
<div class="card">
    <div class="card-body">

      <form action="/admin/categories/create" method="post">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="container">
            <div class="row">
                <div class="form-group col">
                        <label asp-for="Name" class="control-label">Name<i class="text-danger">*</i></label>
                        <input asp-for="Name" class="form-control" placeholder="Entry Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col">
                        <label asp-for="Slug" class="control-label">Slug<i class="text-danger">*</i></label>
                        <input asp-for="Slug" class="form-control" placeholder="Entry Slug" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                    <div class="form-group col">
                        <label asp-for="ParentId" class="control-label">Parent</label>
                        <select asp-for="ParentId" class="form-control" data-placeholder="Select a Parent">
                            <option value="">None</option>
                        @if (ViewBag.Categories != null)
                        {
                            foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                    <div class="form-group col">
                        <label asp-for="Status" class="control-label">Status<i class="text-danger">*</i></label>
                        <select asp-for="Status" class="form-control" data-placeholder="Open this select menu">
                            <option selected value="1">Active</option>
                            <option value="2">Inactive</option>
                            <option value="3">Draft</option>
                        </select> 
                        <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
        
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
