@model cms_backend.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-between">
    <h1>Edit Category</h1>
    <p>
        <a class="btn btn-primary" href="/admin/categories">Category List</a>
    </p>
</div>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="container">
                <div class="row">
                    <div class="form-group col">
                        <label asp-for="Name" class="control-label">Name<i class="text-danger">*</i></label>
                        <input asp-for="Name" class="form-control" placeholder="Entry Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Slug" class="control-label">Slug<i class="text-danger">*</i></label>
                        <input asp-for="Slug" class="form-control" placeholder="Entry Slug" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label asp-for="ParentId" class="control-label">Parent</label>
                        <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                            <option value="">Select a Parent</option>
                        </select>
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Status" class="control-label">Status<i class="text-danger">*</i></label>
                        <select asp-for="Status" class="form-control" data-placeholder="Open this select menu">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                            <option value="3">Draft</option>
                        </select> 
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
