<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="icon" href="~/images/bootstrap-logo.svg">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/DataTables/datatables.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />
    <!-- Custom CSS -->
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
<body>

    <!-- 🔷 Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                    <img src="~/images/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Admin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">Categories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- 🔷 Main Content -->
    <div class="container mt-4">
        @RenderBody()
    </div>

    <!-- 🔷 Footer -->
    <footer class="bg-light text-center mt-5 p-3">
        <p>© 2026 - My MVC App</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/DataTables/datatables.js"></script>

    <script>
        $(document).ready(function () {

        var table = $('#categoryTable').DataTable();

        // Init all select2
        $('.select2').each(function () {
            $(this).select2({
                width: '100%',
                placeholder: $(this).data('placeholder') || 'Select an option',
                allowClear: true
            });
        });

        // Filter by class
        $('.filter-status').on('change', function () {
        var value = $(this).val();
        table.column(3).search(value).draw();
        });

        });
    </script>
    
    <!-- Validation Scripts -->
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>